<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, viewport-fit=cover">
  <meta name="theme-color" content="#FFC0CB">
  <meta name="description" content="<%- description %>">
  <meta name="keywords" content="<%- keywords %>">
  <meta name="author" content="Shoyu">
  <link rel="canonical" href="<%- canonicalUrl %>">
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="mobile-web-app-title" content="<%- ogTitle %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%- ogTitle %>">
  <meta property="og:description" content="<%- description %>">
  <meta property="og:url" content="<%- canonicalUrl %>">
  <meta property="og:image" content="<%- ogImage %>">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="256">
  <link rel="alternate icon" href="/favicon.ico" type="image/x-icon">
  <meta name="format-detection" content="telephone=no">
  <link href="https://unpkg.com/@mdi/font@7.4.47/css/materialdesignicons.min.css" rel="stylesheet">
  <% if (analyticsUrl&&analyticsId) { %>
    <script defer src="<%- analyticsUrl %>" data-website-id="<%- analyticsId %>"></script>
    <% } %>
</head>

<body>
  <div id="app"></div>
  <script type="module" src="/src/main.js"></script>
  <noscript>
    <div style="padding: 20px; text-align: center;">
      <h2>Please enable JavaScript</h2>
      <p>This app requires JavaScript to run properly</p>
      <hr>
      <h2>请启用JavaScript</h2>
      <p>本应用需要JavaScript支持才能正常运行</p>
    </div>
  </noscript>
</body>

</html>